@font-face {
	font-family: 'PFDinDisplayPro-Black';
	src: font-url('PFDinDisplayPro-Black.ttf');
}

@font-face {
	font-family: 'PFDinDisplayPro-BlackIt';
	src: font-url('PFDinDisplayPro-BlackIt.ttf');
}

@font-face {
	font-family: 'PFDinDisplayPro-Bold';
	src: font-url('PFDinDisplayPro-Bold.ttf');
}

@font-face {
	font-family: 'PFDinDisplayPro-BoldItal';
	src: font-url('PFDinDisplayPro-BoldItal.ttf');
}

@font-face {
	font-family: 'PFDinDisplayPro-Italic';
	src: font-url('PFDinDisplayPro-Italic.ttf');
}

@font-face {
	font-family: 'PFDinDisplayPro-Light';
	src: font-url('PFDinDisplayPro-Light.ttf');
}

@font-face {
	font-family: 'PFDinDisplayPro-LightItal';
	src: font-url('PFDinDisplayPro-LightItal.ttf');
}

@font-face {
	font-family: 'PFDinDisplayPro-Med';
	src: font-url('PFDinDisplayPro-Med.ttf');
}

@font-face {
	font-family: 'PFDinDisplayPro-MedItal';
	src: font-url('PFDinDisplayPro-MedItal.ttf');
}

@font-face {
	font-family: 'PFDinDisplayPro-Reg';
	src: font-url('PFDinDisplayPro-Reg.ttf');
}

@font-face {
	font-family: 'PFDinDisplayPro-Thin';
	src: font-url('PFDinDisplayPro-Thin.ttf');
}

@font-face {
	font-family: 'PFDinDisplayPro-ThinItal';
	src: font-url('PFDinDisplayPro-ThinItal.ttf');
}

@font-face {
	font-family: 'PFDinDisplayPro-XThin';
	src: font-url('PFDinDisplayPro-XThinIt.ttf');
}